@charset "utf-8";

/* 打消し */
    #all {
        line-height: 1.8;
        color: #393939;
        font-family:"MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    }
    p, h1, h2, h3, ul, ol, dl, dd, dt, body, img{  
        color: #707070;
        letter-spacing: 3px;
        padding: 0px;
        margin: 0px;
    }
    img{
        vertical-align: middle;
        border-style: none;
    }
    
    
    /*―――――――――――――――――――――――――――――――――――――――
    　　ヘッダー・ナビゲーション・メインエリア
    ―――――――――――――――――――――――――――――――――――――――*/
    /*　ヘッダー＆ナビゲーション　*/
    header{
        background-color: #97A5AA;
        overflow: hidden;
    }
    nav{
        width: 960px;
        height: 40px;
        margin: 5px auto;
        overflow: hidden;
    }
    nav li{
        float: right;
        list-style-type: none;
        margin: 0px 12px;
    }
    nav li a{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 5px 3px;
    }
    nav li a:hover{
        border-bottom: 2px solid #fff;
    }
    .browsing{
        border-bottom: 2px solid #fff;
    }
    
    /* 共通部分 */
    .outer{
        width: 960px;
        margin: auto;
        padding: 30px 0px;
    }
    h2{
        text-align: center;
        margin: 50px 0px;
    }
    
    /*　メインイメージエリア　*/
    .mainimage{
        height: 300px;
        margin: auto;
        position: relative;
    }
    .main-title{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .main-title h1{
        font-size: 40px;
    }
    .main-title h1 a,.main-title p{
        color: #707070;
        text-decoration: none;
        letter-spacing: 10px;
    }
    
    
    /*―――――――――――――――――――――――――――――――――――――――
    　　メインページ
    ―――――――――――――――――――――――――――――――――――――――*/
    /* メインエリア */
    main{
        background-color: #F9F9F9;
        padding-bottom: 80px;
    }
        
    /* WORKS */
    main .works{
        overflow: hidden;
    }
    main .works .works-img{
        margin: 20px 20px 50px 20px;
        float: left;
    }
    main .works .works-img img{
        box-shadow: 0 1px 6px -2px rgba(100, 100, 100, 0.2);
    }
    main .works .works-img a:hover{
        opacity: 0.8;
        transition-duration: 0.3s;
    }

    /*―――――――――――――――――――――――――――――――――――――――
    　　WORKSページ
    ―――――――――――――――――――――――――――――――――――――――*/
    .sub-works .content{
        width: 840px;
        padding: 40px 60px;
        background-color: #fff;
        margin-bottom: 90px;
    }
    .sub-works img{
        box-shadow: 0 1px 6px -2px rgba(100, 100, 100, 0.2);
    }

    /* テキストエリア */
    .sub-works dl{
        margin: 30px 0px;
    }
    .sub-works dt{
        float: left;
        font-weight: bold;
    }
    .sub-works dd{
        border-bottom: 1.5px dashed #f5f5f5;
        padding-left: 10em;
        padding-bottom: 15px;
        margin-bottom: 15px;
        
    }

    /* サイトへボタン */
    .sub-works .content .link-btn{
        text-align: center;
    }
    .sub-works .content .link-btn a{
        color: #fff;
        font-weight: 900;
        text-decoration: none;
        background-color: #ad8c68;
        padding: 8px 90px;
        border-radius: 4px;
    }
    .sub-works .content .link-btn a:hover{
        background-color: #c4a482;
        transition: 0.7s;
    }

    /*―――――――――――――――――――――――――――――――――――――――
    　　PROFILEページ
    ―――――――――――――――――――――――――――――――――――――――*/
    .sub-profile h3{
        margin-bottom: 30px;
    }
    /* テキストエリア */
    .sub-profile .content{
        width: 840px;
        padding: 40px 60px;
        background-color: #fff;
        margin-bottom: 50px;
    }


    /*―――――――――――――――――――――――――――――――――――――――
    　　フッターエリア
    ―――――――――――――――――――――――――――――――――――――――*/
    /*　フッター　*/
    footer{
        text-align: center;
        background-color: #97A5AA;
    }
    footer a{
        color: #707070;
        text-decoration: none;
    }
    footer a:hover{
        color: #f1f1f1;
    }
    

    /*-------------------------------------
　　      レスポンシブル設定
    -------------------------------------*/
    @media screen and (max-width: 1000px){
        nav,.outer{
            width: 96%;
        }
        img{
            max-width: 100%;
            height: auto;
        }
        main .works{
            text-align: center;
        }
        main .works .works-img{
            float: none;
            margin: 60px auto;
            padding: 10px;
        }
        .sub-works .content,.sub-profile .content{
            padding: 30px;
            width: 84%;
            margin: 90px auto;
        }
    }
    
    @media screen and (max-width: 560px){
        .main-title h1{
            font-size: 28px;
        }
        .sub-works dt{
        float: none;
    }
    .sub-works dd{
        border-bottom: 1.5px dashed #f5f5f5;
        padding-left: 0em;
        padding-top: 8px;
        font-size: 0.9em;
        }
        
    }
    
