@charset "utf-8";

/*-------------------------------------
　　【免責事項・推奨環境】メインエリア
-------------------------------------*/

.disclaimer .text p {
    padding-bottom: 20px;
}
.disclaimer .text{
    margin-bottom: 60px;
}
.disclaimer .text h3{
    margin-top: 30px;
}
