@charset "utf-8";

/*------------------------------------------------
　　【労働者派遣法に基づく情報提供について】メインエリア
------------------------------------------------*/
.law-info .text p {
    padding-bottom: 20px;
}
.law-info .text li {
    text-indent: 1em;
    padding-bottom: 20px;
    list-style-type: disc;
}
