@charset "utf-8";

/*-------------------------------------
　　【選ばれる理由】メインエリア
-------------------------------------*/
.subpage .reason .reason-box{
    display: flex;
    margin-top: 30px;
}
.reason .row-reverse {
    flex-direction: row-reverse;
}
.subpage .reason .text-area{
    padding: 60px 30px;
}
.subpage .reason .font-color{
    color: #65CD6A;
}
.subpage .reason h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.subpage .reason h2::after{
    content:  '';       
    width: 30px;           
    height: 4px;           
    background-color: #65CD6A;
    display:  block;        
    position:  absolute;    
    left:  0;               
    bottom: -6px;
}
.subpage .reason .text-area{
     flex-basis: 100%;
}

/*-------------------------------------
　　【選ばれる理由】レスポンシブ設定
-------------------------------------*/
@media screen and (max-width: 960px){
    
  /* サブページのレスポンシブル設定 */
    .subpage .reason .reason-box{
        flex-direction: column;
        align-items:center;
    }
    .subpage .reason .text-area{
    padding: 30px 15px;
}
}

    







