@charset "utf-8";

/*-------------------------------------
　　【採用情報】メインエリア
-------------------------------------*/
.recruit-cat{
    text-align: center;
}
.recruit .recruit-cat p{
  font-size: 1.5em;
  width: 31em;
  margin: 0 auto;
  padding-bottom: 5px;
  background: linear-gradient(transparent 95%, #3FC26F 100%);
  display: inline;
  text-align: center;
}
.recruit table  {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    border-collapse: collapse;
    width: 95%;
}
.recruit th, td {
    border-bottom: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 20px;
    font-weight: normal;
}
.recruit th {
    font-weight: bold;
}
.entry-btn a{
    text-decoration: none;
    width: 10em;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #575757;
    border-radius: 3px;
    text-align: center;
    margin: 40px auto;
    display: block
}

/*-------------------------------------
　　【採用情報】レスポンシブ設定
-------------------------------------*/
@media screen and (max-width: 640px){
    .recruit .recruit-cat p{
        margin-top: 10px;
        font-size: 1em;
        line-height: 2.3em;
    }
    .recruit td {
        display: block;
        padding: 10px 5px 40px 5px;
    }
    .recruit th{
        display: block;
        background-color: #e6e6e6;
        padding: 3px 10px
    }
}
