@charset "utf-8";

/*---------------------------------
　　　打消し・IE対策
---------------------------------*/
p, h1, h2, h3, h4, ul, ol, dl, dd, body, form {
  padding: 0px;
  margin: 0px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.8em;
}
p,a{
  font-size: 94%;
}
img {
  border: none;
  vertical-align: bottom;
}
ul, ol {
  list-style-type: none;
}
main {
  display: block; 
}
body{
    color: #707070;
}

/*---------------------------------
　　　共通の設定
---------------------------------*/
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.inner{
    width: 1000px;
    margin: 0px auto;
}
h2.headline-a{
    margin-bottom: 40px;
    color: #575757;
    position: relative;
}
h2.headline-a:after{
  content:  '';       
    width: 30px;           
    height: 4px;           
    background-color: #D2D2D2;
    display:  block;        
    position:  absolute;    
    left:  0;               
    bottom: -6px;   
}
h2.headline-white{
   color: #fff;
}

.view-more-btn a{
    text-decoration: none;
    width: 9em;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #575757;
    border-radius: 3px;
    text-align: center;
    margin: 40px auto;
    display: block
}
.view-more-btn a:hover{
  background-color: #777777;
  transition: 0.5s;
}
section{
    padding: 80px 0px;
}
.gotop{
    position: fixed;
    right:45px;
    bottom:45px;
    z-index: 999;
    display: none;
}
.gotop a:hover{
    opacity: 0.7;
    transition: 0.7s;
}

/*　要素をふんわり表示　*/
/* 画面外にいる状態 */
.fadein {
	opacity : 0;
	transform : translate(0px, 50px);
	transition : all 1500ms;
	}

/* 画面内に入った状態 */
.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}

/*------------------------------
    サブページ　共通の設定
--------------------------------*/
.subpage {
    padding: 30px 0 100px 0;
}

/* パンくずリスト　*/
.topic1 {
  list-style-type: none;
  margin-bottom: 70px;
}
.topic1 li {
  display: inline;
}
.topic1 li a {
  text-decoration: none;
  color: #565656;
}
.topic1 li+li:before {
  content: " >  ";
}

/* サブページ　メインイメージ　エリア　*/
.sub-mainimage {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 65vh;
}
.sub-mainimage-company{
  background-image: url(img/mainimage_company.png);
}
.sub-mainimage-client{
background-image: url(img/mainimage_corporate.png);
}
.sub-mainimage-faq {
	background-image: url(img/mainimage_faq.png);
}
.sub-mainimage-flow {
	background-image: url("img/mainimage_flow.png");
}
.sub-mainimage-reason {
	background-image: url(img/mainimage_reasons.png);
}
.sub-mainimage-disclaimer{
  background-image: url("img/mainimage_disclaimer.png");
}
.sub-mainimage-law-info{
  background-image: url("img/mainimage_lowinfo.png");
}
.sub-mainimage-privacy{
  background-image: url("img/mainimage_privacy.png");
}
.sub-mainimage-recruit{
  background-image: url("img/mainimage_recruit.png");
}
.sub-mainimage-form{
  background-image: url("img/mainimage_contact.png");
}

/* サブページタイトル */
.sub-title{
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100vw;
}

.sub-title h2 {
  font-size: 45px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: lighter;
  text-shadow: 3px 3px 3px #393939;
}
.sub-mainimage p  {
  font-size: 30px;
  color: #FFFFFF;
  font-weight: lighter;
  text-shadow: 3px 3px 3px #393939;
}



/*---------------------------------
　　　ヘッダーエリア
---------------------------------*/
header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65px;
  z-index: 999;
  padding-top: 10px;
  transition: 0.5s;
}
.header-scroll{
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.10);
}
.header-inner{
    margin: 0px 3%;
    overflow: hidden;
}
.header-inner h1{
    margin-right: auto;
    float: left;
    width: 189px;
    line-height: 1em;
}
nav{
    float: right;
    padding-top: 8px;
}
nav ul a{
    text-decoration: none;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.13);
    color: #fff;
    font-weight: bold;
    padding: 15px 10px 7px 10px;
    margin-right: 7px;
    position: relative;
    display: inline-block;
}
nav ul a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #A1DE64;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .5s;
}
nav ul a:hover::after{
  transform: scale(1, 1);
}
nav ul .blowsing{
    border-bottom: 2px solid #A1DE64;
}
.header-contact-btn{
    width: 6em;
    background: linear-gradient(-100deg, #3FC26F, #A1DE64);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.13);
    border-radius: 23px;
    text-align: center;
    padding: 10px 27px;
    margin-bottom: 6px
}
nav ul a.header-contact-btn:hover{
  background: linear-gradient(-100deg, #84D9A3, #D4F2B5);
  border-bottom:none;
}
nav ul a.header-contact-btn::after{
  background:none;
}
/*---------------------------------
　　　カルーセル追加開始
---------------------------------*/

.slider{
    position: absolute;
    /* [disabled]width: 100%; */
    resize: 20;
    /* [disabled]height: auto; */
    max-width: 100%;
}
.slider img{
    /* [disabled]width: 100%; */
    background-size: contain;
    /* [disabled]height: auto; */
    max-width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before{
    color: #000;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*---------------------------------
  カルーセル追加終了
---------------------------------*/
.top-heroimage{
    /* [disabled]height: 80vh; */
    /* [disabled]min-height: 630px; */
    position: relative;
    width: 100vw;
}
.top-heroimage ul li img{
    width: 100vw;
}
/*---------------------------------
  ※background-image系は消しました 
---------------------------------*/
.top-heroimage-cat img{
    position: absolute;
    left: 0px;
    top: 50%;
    width: 54%;
    height: auto;
    z-index: 10;
}

/*　スクロール時のアクション設定　*/
.header-scroll{
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.10);
}
.logo-black-2{
    display: none;
}
 .display-block{
    display: block;
}
.display-none{
    display: none;
}
.font-color-black{
    color: #575757;
    text-shadow: none;
}

/* サブページ */
.sub-backcolor-white{
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.10);
}
.sub-color-black{
  color: #575757;
  text-shadow:none;
}
/*---------------------------
	TOPページメインエリア
-----------------------------*/
/* メッセージ */
.top-message{
	text-align: center;
	background-color: #F9F9F9;
}
.top-message-cat{
    font-size: 38px;
    margin-bottom: 35px;
}
.top-message-cat .size-43{
    font-size: 43px;
    margin-left: 2px;
    margin-right: 2px;
}
.top-message-cat .border-red {
    border-bottom: 4px solid #FF8A8A;
    padding-bottom: 3px;
}
.top-message .text-area p{
  margin-bottom: 35px;
  font-size: 1.1em;
}

/*　選ばれる理由　*/
.top-reason{
  background-image: url("img/bg_reason.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-reason .flexbox{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}
.top-reason .box{
  background-color: #fff;
  text-align: center;
  width: 370px;
  margin: 15px;
  padding: 30px;
}
.top-reason h3{
  margin: 18px 0px 25px 0px;
  position:  relative;
}
.top-reason h3:after{
  content:  '';       
    width: 30px;           
    height: 4px;           
    background-color: #65CD6A;
    display:  block;        
    position:  absolute;    
    left:  50%;               
    bottom: -8px;
    transform: translate(-50%)
}

/*　求人事例　*/
.top-job{
    z-index: -2;
    background-color: #F9F9F9;
    position: relative;
}
.top-job .box{
  background-color: #fff;
  box-shadow: 5px 5px 6px rgba(0,0,0,0.13);
  position:relative;
  flex-basis: 30%;
  padding: 20px;
  margin: 10px;
}
.top-job .flexbox{
  display:flex;
  justify-content: center;
}
.top-job h3{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid #A1DE64 3px;
  border-image: linear-gradient(to left, #3FC26F 0%, #A1DE64 100%);
  border-image-slice: 1;}
.entry-btn a{
    text-decoration: none;
    width: 10em;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #575757;
    border-radius: 3px;
    text-align: center;
    margin: 40px auto;
    display: block
}
.entry-btn a:hover{
  background-color: #777777;
  transition: 0.5s;
}

.top-job::before{
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    left:0;
    top: 0;
    border-width: 0px 0px 50vh 30vw ;
    border-style: solid;
    border-color: transparent #A1DE64;
}
.top-job::after{
    z-index: -99;
    content: "";
    display: block;
    position: absolute;
    right:0;
    bottom: 0;
    border-width: 0px 0px 50vh 30vw ;
    border-style: solid;
    border-color: #A1DE64 transparent;
}


/*　よくある質問　*/
.top-faq{
  background-image: url("img/bg_faq.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.top-faq .faqlist .box{
  background-color: #fff;
  margin: 30px auto;
  width: auto;
  padding: 2%;
}
.top-faq .faqlist .box dt{
  margin-bottom: 20px;
}
.top-faq .faqlist img{
  margin-right: 20px;
  margin-bottom: 5px;
}

/*　先輩の声　*/
.top-voice{
    background-color: #F9F9F9;
}
.top-voice .box{
  position: relative;
  margin-top: 150px;
  width: 94%;
}
.top-voice img{
  position: absolute;
  left: 0px;
  top:-110px; 
  z-index: 20;
}
.top-voice .voice-text{
  float: right;
  z-index: 20;
  position: relative;
  width: 55%;
  padding: 5%;
  background-color: rgba(255,255,255,0.9);
}

.top-voice .voice-text h3{
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 3px solid #A1DE64;
  border-image: linear-gradient(to left, #3FC26F 0%, #A1DE64 100%);
  border-image-slice: 1;}

/*　ニュース　*/
.top-news{
    position: relative;
    background-color: #fcfcfc;
    z-index: -2;
  }
.top-news box{
  width: 80%;
}
.top-news dl a{
    color: #575757;
    text-decoration: none;
}
.top-news dl{
        padding: 0px 20px;
        margin-bottom: 50px;
}
.top-news dt{
    float: left;
}
.top-news dd{
     border-bottom: 1px solid #98DB65;
     padding-left: 10em;
     padding-bottom: 5px;
     margin-bottom: 5px;
}
.top-news .news-day{
  margin-right: 3em;
}
.top-news .news-icon{
  float: right;
}
.top-news .text-area{
    float: left;
    width: 90%;
}
.top-news::before{
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    left:0;
    top: 0;
    border-width: 0px 0px 50vh 30vw ;
    border-style: solid;
    border-color: transparent #A1DE64;
}
.top-news::after{
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    right:0;
    bottom: 0;
    border-width: 0px 0px 50vh 30vw ;
    border-style: solid;
    border-color: #A1DE64 transparent;
}

/*---------------------------------
　　　フッターエリア
---------------------------------*/
/*　コンタクト　*/
.footer-contact{
    background-image: url(img/bg_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: #fff;
    position: relative;
    padding-top: 80px;
}
.footer-contact .box{
    padding: 40px 0px 40px 50px;
}
.footer-contact-btn a{
    padding: 25px 45px;
    width: 18em;
    background: linear-gradient(0deg, #FF5700,#F8489A);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.13);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.footer-contact-btn a:hover{
  background: linear-gradient(0deg, #FF9761,#FF9CCA);
}

.footer-contact-btn-tb{
    display: none;
}
.contact-ttl{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.contact-tel{
    font-size: 2.3em
}
footer .footer-contact .headline-a{
        display: none;
}

/*　フッターメイン　*/
.footer-main-area{
    background-color: #393939;
    padding: 40px 0px;
}
.footer-main-area p{
    color: #E6E6E6;
}
.footer-main-area .footer-link-area a{
    color: #E6E6E6;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.footer-main-area .footer-link-area a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #E6E6E6;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .5s;
}
.footer-main-area .footer-link-area a:hover::after{
  transform: scale(1, 1);
}
.logo-footer img{
    width: 100%;
    height: auto;
}
.copyright{
  text-align: center;
  margin-top: 80px;
}
.footer-logo-area li{
    float: left;
    margin: 15px 25px 15px 0px;
}
.footer-tel{
    font-size: 38px;
}
.footer-main-area .flexbox{
    display: flex;
    justify-content: space-between;
}
.footer-link-area li{
    margin-bottom: 20px;
}
footer .footer-logo-area ul{
    margin-top: 10px;
}


/*---------------------------------
　　　レスポンシブル設定
---------------------------------*/

@media screen and (max-width: 1000px){
    .inner{
    width: 95%;
    }
}
@media screen and (min-width: 961px){
    /* ナビゲーションエリア */
    nav ul{
        display: flex!important;
    }
  header .header-inner .logo-black{
    display: none!important;
    width: 50px;
  }    
    /* フッターエリア */
    .footer-contact h2{
        display: none;
    }
}
@media screen and (max-width: 960px){
    img{
        max-width: 100%;
        height: auto;
    }
    h2{
        font-size: 21px;
    }
  .top-heroimage{
    background-image: url("img/mainimage_tablet.png")!important;
    min-height: 767px!important;
    min-width:100%!important;
    background-position: right -50px top 0px;
  }
  .top-heroimage ul{
      display: none!important;
  }
  .top-heroimage-cat img{
    position: absolute;
    left: 0px;
    top: 400px;
    width: 60%;
    height: auto;
}
  .logo-white,.logo-black-2{
    display: none;
  }
  
  /* サブページタイトル */
  .sub-title h2 {
  font-size: 35px;
 }
 .sub-mainimage p  {
   font-size: 27px;
 }
    
    /* ヘッダーエリア */
    header{
        background-color: #fff;
        height: 60px;
        padding-top: 10px;
    }
    .header-contact-btn{
    margin: 0px auto;
    }
    header .flexbox{
    flex-direction: column;
        align-items: stretch ;
        padding-top: 30px;
      display: none;
}
    header nav li{
        flex-basis :50px;
        padding: 5px 0px;
        text-align: center;
    }
    nav ul a{
        padding: 10px 30px;
    }
    header nav li a.sub-color-black{
        color: #fff;
    }
    header nav ul{
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
    overflow-y: scroll;
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0,0,0,0.8);
    }
.font-color-black{
    color: #fff;
    text-shadow: none;
}
	.nav-toggle{
        width: 27px;
        height: 23px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 999;
    }
    .nav-toggle span{
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        left: 0px;
        background-color: #707070;
		transition:0.3s;
    }
    .nav-toggle span:nth-child(1){
        top: 0px;
        
    }
    .nav-toggle span:nth-child(2){
        top: 10px;
    }
    .nav-toggle span:nth-child(3){
        top: 20px;
    }
.nav-toggle.open span:nth-child(1){
        top: 11px;
	transform: rotate(315deg);
        
    }
    .nav-toggle.open span:nth-child(2){
        width: 0;
		left: 50%;
    }
    .nav-toggle.open span:nth-child(3){
        top: 11px;
		transform: rotate(-315deg);
    }    
    /* 選ばれる理由 */
    .top-reason .flexbox,.top-job .flexbox{
        flex-direction: column;
        flex-basis: auto;
    }
    .top-reason .box,.top-job .box{
        width: auto;
    }
    /* ニュース */
    .top-news dt{
    float: none;
    margin: 10px 0px;
}
    .top-news dd{
     padding-left: 0px;
    }
    /* フッターエリア */
  .footer-nav-area{
    display: none;
  }
    .logo-footer{
        display: none;
    }
    .footer-contact{
        background-image: none;
        background-color: #fff;
        color: #707070;
    }
    .footer-contact-btn{
        display: none;
    }
    footer .footer-contact .headline-a{
        display: block;
    }
    .footer-contact .footer-contact-btn-tb{
        display: block;
    }
    .footer-contact .footer-contact-btn-tb a{
        background-color: #7A7A7A;
        padding: 10px 50px;
        width: 11em;
        color: #fff;
        text-decoration: none;
        display: block;
        font-size: 1.5em;
    }
    .footer-contact .flexbox .box{
        margin: 0px auto 80px auto;
        padding: 0px;
    }
    .footer-contact .flexbox{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
  .footer-link-area{
    margin-top: 60px;
  }
  
  

@media screen and (max-width: 640px){
    header{
        height: 40px;
        padding-top: 8px;
    }
    header h1 img{
        width: 70%;
    }
    header nav ul{
        top:48px;
    }
    .nav-toggle{
        right: 20px;
        top: 13px;
    }
    /* メインイメージ */
    .top-heroimage{
    background-image: url("img/mainimage_mobile.png");
        background-position: right -70px top 0px;
         background-size: cover;
        min-height: 500px!important;
  }    
  .top-heroimage-cat img{
    top: 50vh;
    left: -40px;
    width: 85vw;
    height: auto;
}
  .sub-title h2 {
  font-size: 20px;
}
.sub-mainimage p  {
  font-size: 20px;
}
    /* TOPキャッチコピー */
    .top-message-cat{
    font-size: 20px;
}
.top-message-cat .size-43{
    font-size: 23px;
}
.top-message-cat .border-red {
    border-bottom: 4px solid #FF8A8A;
    padding-bottom: 3px;
}
.top-message .text-area p{
  margin-bottom: 35px;
  font-size: 0.9em;
}
    /* 先輩の声エリア */
    .top-voice .box{
        position: static;
        margin: 30px auto;
        width: 94%;
        background-color:transparent;
    }
    .top-voice img{
        position: static;
        margin: 0 auto;
        padding-top: 20px;
        display: block;
        z-index: 20;
}
    .top-voice .voice-text{
        float: right;
        z-index: 20;
        position: relative;
        width: auto;
        padding: 5%;
        margin-top: 10px;
        background-color: rgba(255,255,255,0.9);
    }
     /* フッター */
    .footer-main-area .flexbox{
    flex-direction:column;
  }
    .footer-contact .flexbox{
        flex-direction:column-reverse;
        text-align: center;
    }
    .footer-contact .footer-contact-btn-tb a{
        font-size:1.2em;
        padding: 10px 40px;
    }
    .contact-tel{
        font-size: 1.8em
    }
    .footer-tel{
        font-size: 1.8em
    }
    .copyright{
        font-size: 0.6em
    }
    .gotop{
        right:10px;
        bottom:10px;
    }
    .gotop img{
        width: 60px;
    }
    }