@charset "utf-8";
p, h1, h2, h3, h4, ul, ol, dl, dd, body, form {
  padding: 0px;
  margin: 0px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #4e2f14;
  letter-spacing: 0.1em;
}
img {
  border: none;
  vertical-align: bottom;
}
ul, ol {
  list-style-type: none;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
main {
  display: block;
}
body {
  font-size: 1.2em;
  background-color: #f8f6f3;
  position: relative;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 68px;
  z-index: 999;
  background-color: #ede6d9;
  padding-top: 30px;
  padding-bottom: 1px;
  box-shadow: 0 1px 6px -2px rgba(100, 100, 100, 0.2);
}

header .header-inner {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 2px dotted #775635;
}

header .header-inner h1 {
  position: absolute;
  left: 5px;
  bottom: 8px;
}


header .header-inner .tel{
  font-size: 0.8em;
  text-align: center;
  position: absolute;
  right: 195px;
  bottom: 8px;
}
header .header-inner .contact {
  font-size: 0.8em;
  text-align: center;
  position: absolute;
  right: 5px;
  bottom: 8px;
  border-radius: 5px;
}
.header-inner .tel a, .header-inner .contact a {
  width: 160px;
  color: #F1F1F0;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 7px 10px;
  letter-spacing: 0em;
  font-weight: 650;
  background-color: #e5a323;
}
header .header-inner .tel a:hover ,.header-inner .contact a:hover{
  background-color: #fac559;
}

header nav  {
  width: 1100px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  padding-top: 0px;
}

header nav ul {
  margin-left: 90px;
  margin-bottom: 1px;
}

header nav li {
  text-align: center;
  float: left;
  margin: auto;
}
header nav li a {
  padding-top: 6px;
  text-decoration: none;
  color: #775635;
  text-align: center;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}
header nav li a:hover {
  color: #8EB826;
  border-bottom: 2px solid #8EB826;
}

.browsing{
  color: #8EB826;
  border-bottom: 2px solid #8EB826;
}

.top-img {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 120px;
  padding-bottom: 30px;
}
.top-img .top-img2 {
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.chatchcopy {
  margin-left: auto;
  margin-right: auto;
  width: 977px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.ivent {
  background-color: #f2eee8;
  padding-top: 150px;
  padding-bottom: 150px;
}

.ivent h2 {
  display: block;
  width: 1100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 40px;
}
.ivent .ivent-inner {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.ivent .ivent-inner .text {
  width: 600px;
  display: block;
  float: left;
  margin-left: 48px;
}
.ivent .ivent-inner .text h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #FB7D64;
}
.ivent .ivent-inner .ivent-link{
    margin: 20px 0px;
}
.ivent .ivent-inner .ivent-link a {
  display: inline-block;
  width: 400px;
  padding: 8px 30px;
  text-align: center;
  color: #F1F1F0;
  background-color: #e5a323;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 0em;
  font-weight: 650;
}
.ivent-inner .text a:hover {
  background-color: #fac559;
}

.ivent .ivent-inner .ivent-img {
  width: 403px;
  float: left;
  display: block;
}

.new,.calender,.info-map,.info-text{
    width: 500px;
    height: 400px;
    margin: 13px;
    padding: 20px 12px;
}

.info1 {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}
.info1 .new .title , .calender .title {
  text-align: center;
  margin-bottom: 40px;
}
.info1 .new {
  float: left;
}

.info1 .new dl{
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 460px;
}

.info1 .new dt{
  float: left;
  line-height: 1.5em;
}

.info1 .new dd{
  line-height: 1.5em;
  padding-left: 9em;
  border-bottom: 1px dotted;
  margin-left: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.info1 .calender {
  float: left;
}

.info1 .calender table {
  text-align: center;
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-collapse: collapse;
  background-color: #F4EEDD;
}
.info1 .calender table .manth {
  background-color: #a0b084;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

.info1 .calender table th ,td{
  border: 1px solid #f8f6f3;
}

.info1 .calender table th{
  color: #f8f6f3;
  background-color: #BFCAAC;
}

.info2 {
  width: auto;
  background-color: #f2eee8;
  padding-top: 150px;
  padding-bottom: 200px;
}
.info2 .info2-inner {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.info2 .info2-inner .info-map {
  float: left;
  width: 500px;
  text-align: center;
}

.info2 .info2-inner .info-text {
  float: left;
  position: relative;
}
.info2 .info2-inner .info-text h3{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #775635;
}
.info2-inner .info-text .banner {
  position: absolute;
  left: 13px;
  bottom: 20px;
}
.info2-inner .info-text .tel, .info2-inner .info-text .fax {
  color: #7b8d42;
  font-size: 1.4em;
}
#all .pagetop{
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: absolute;
  right: 100px;
  bottom: 115px;
  border-radius: 10px;
}
#all .pagetop a {
  color: #E4E4E4;
  background-color: #5f6527;
  　border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  display: block;
}
#all .pagetop a:hover {
  background-color: #5f7037;
}


footer {
  text-align: center;
  font-size: 0.8em;
  color: #FFF9F9;
  background-color: #7b8d42;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer p  {
  color: #FFFFFF;
}

footer a  {
  color: #FFFFFF;
  text-decoration: none;
}
footer a:hover {
  color: #fdede4;
}
.subpage {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.subpage h2  {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 0px 30px;
  color: #775635;
  border-bottom: 2px double #8EB826;
  margin-top: 60px;
  margin-bottom: 50px;
}
.subpage h3 {
  margin-bottom: 20px;
}

.subpage .sub-img  {
  width: 1100px;
  display: block;
  margin-top: 130px;
  padding-bottom: 50px;
}
.subpage .topic{
 margin-bottom: 80px;   
}
.subpage .topic li {
  display: inline;
  font-size: 0.8em;
}
.subpage .topic li a {
  color: #5F6527;
  text-decoration: none;
}
.subpage .topic li a:hover {
  color: #8EB826;
}


.subpage .topic li+li:before {
  content: "> ";
}


.subpage .facility-inner,.meal-inner3{
  background-color: #F4EEDD;
  margin-bottom: 70px;
}
.facility-inner img,.meal-inner3 img{
  float: left;
  margin-right: 20px;
}

.facility-inner .text,.meal-inner3 .text{
  width: 600px;
  float: left;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 20px;
}


.one-day .text-1{
        width: 1000px;
        padding: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        border-left: 3px solid #b9b9b9;
    }

.one-day .time{
        font-weight: bold;
        background-color: #7b8d42;
        color: #fff;
        width: 6em;
        padding: 7px;
        border-radius: 50px;
        text-align: center;
    }
.map .text {
  margin-top: 30px;
}

.meal-inner2 img{
    float:left;
    margin-right: 20px;
    margin-top: 20px;
}
.subpage table  {
}
.flow h3 {
  padding-top: 60px;

}
.flow .nomber {
  background-color: #7b8d42;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-radius: 50%;
  color: #FFFFFF;
  margin-right: 10px;
}
.flow p {
  margin-left: 80px;
}

.price h3{
    margin-top: 60px;
}
.price table {
  text-align: center;
  font-size: 1.1em;
  border: 1px solid #000;
  border-collapse: collapse;
  background-color: #F4EEDD;
}

.price table th, .price table td{
  border: 1px solid #f8f6f3;
  padding: 5px 40px;
}

.price table th{
  color: #f8f6f3;
  background-color: #BFCAAC;
}
